{% extends 'base/base.html' %}
{% block title %}{{ exercise.name }}{% endblock %}

{% block page_content %}
    <div class="container py-5">

        <div class="mb-4 d-flex justify-content-start">
            <a href="{% url 'exercises' %}" class="btn btn-outline-secondary btn-lg rounded-pill shadow-sm">
                <i class="bi bi-arrow-left-circle"></i> Назад към всички упражнения
            </a>
        </div>

        {% if not has_client %}
            <div class="mb-4 d-flex justify-content-end">
                <a href="{% url 'exercise edit' exercise.pk exercise.name %}" class="btn btn-warning">
                    <i class="bi bi-pencil-square"></i> Редактирай
                </a>
            </div>
        {% endif %}

        {% if has_client %}
            {% if workout_exercise %}
                <div class="mb-4">
                    <h4 class="mb-3">Изпълнение за {{ selected_date|date:"d.m.Y" }}:</h4>
                    <form method="post" action="{% url 'exercise complete' workout_exercise.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="date" value="{{ selected_date|date:'Y-m-d' }}">
                        {% if is_completed %}
                            <button type="submit" class="btn btn-success rounded-pill shadow-sm">
                                <i class="bi bi-check-circle"></i> Изпълнено
                            </button>
                        {% else %}
                            <button type="submit" class="btn btn-danger rounded-pill shadow-sm">
                                <i class="bi bi-x-circle"></i> Неизпълнено
                            </button>
                        {% endif %}
                    </form>
                </div>

            {% endif %}
        {% endif %}

        <div class="exercise-container">
            <h1 class="fw-bold">{{ exercise.name }}</h1>
            <p><strong>Категория:</strong> {{ exercise.get_category_display }}</p>

            {% if exercise.equipment %}
                <p><strong>Оборудване:</strong> {{ exercise.equipment }}</p>
            {% endif %}

            {% if exercise.description %}
                <p><strong>Начин на изпълнение:</strong> {{ exercise.description }}</p>
            {% else %}
                <p class="text-muted">Няма описание.</p>
            {% endif %}

            {% if exercise.exercise_picture %}
                <div class="text-center mt-3">
                    <img src="{{ exercise.exercise_picture.url }}" alt="{{ exercise.name }}"
                         class="img-fluid rounded shadow-sm">
                </div>
            {% else %}
                <p class="text-muted">Няма изображение.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
