*.pyc
*.pyo
__pycache__/
*.sqlite3

*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
/media
/staticfiles

.env
.env.*

.venv/
venv/
ENV/
env/

.vscode/
.idea/
*.swp

*.pid
docker-compose.override.yml
*.bak
*.tar
*.tar.gz

.DS_Store
Thumbs.db

**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.log
