{% extends 'base/base-admin.html' %}
{% block page_content %}
<div class="container mt-5">
    <h2>Редакция на клиент</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h5 class="fw-bold">Данни за потребителя:</h5>
        {{ user_form.as_p }}

        <h5 class="fw-bold">Данни за клиента:</h5>
        {{ client_form.as_p }}

        <button type="submit" class="btn btn-success">Запази</button>
        <a href="{% url 'admin client details' client.id %}" class="btn btn-secondary">Назад</a>
    </form>
</div>
{% endblock %}